.box {
  width: 87vw;
  height: 98vh;
  background-color: white;
  border: 1px solid grey;
}

table {
  width: 95%;
  margin-left:2.5%;
  text-align: center;
  border-collapse: collapse;
}
td {
  height: 1vh;
}
th {
  background: #659765;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
