.box {
  width: 87vw;
  height: 98vh;
  background-color: white;
  border: 1px solid grey;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
td {
  height: 1vh;
}
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
