.list-item {
  padding-left: 10px;
}

nav {
  width: 100%;
}

nav ul {
  padding: 0px;
  width: 100%;
}

nav ul li {
  list-style: none;
  font-size: 1.5rem;
}

nav ul li:hover {
  background-color: aqua;
}

.navbar {
  display: inline-flex;
  vertical-align: top;
  width: 10vw;
  height: 100vh;
  background-color: lightblue;
}

.navbar-details {
  height: 25vh;
}
